@model Participant

<div class="form-group">
    <label asp-for="Name" class="control-label">Your Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-default">Join!</button>
</div>